body{
  background-image: url("../images/1.jpg");
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 100%;
  color: white;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 74%;
  
}
